.dockerignore
.git
.github
.gitignore
.husky
.vscode
aws
aws.json
**/.env*
**/.turbo
**/node_modules
**/*.md
**/build
**/coverage
**/deploy
**/dist
**/docs
**/logs
**/*.log
**/out
**/*.tsbuildinfo
**/test